.container {
	display: flex;
    width: 23%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 1%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.07);
    border: 1px solid #fff;
}

.title {
    font-size: 1em;
    text-align: center;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    line-height: 23px;
}

.buttonWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: #f7f7f7;
    border-radius: 4px;
}

.button {
    padding: 5px 10px;
    margin: 10px;
    font-size: .7em;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background: #37b6ff;
    display: flex;
    align-items: center;
    line-height: 35px;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover {
        background-color: #03a9f4;
    }
}

.statusContainer {
    font-size: .8em;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed #dadada;
    border-top: 1px dashed #dadada;
    width: 90%;
}

.status {
    font-family: CairoBold;
}

.hasError {
    border: 1px solid #ff9999;
}

.error {
    font-size: 0.8em;
    color: #e85453;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 4px;
    line-height: 40px;
}

.warningIcon {
    width: 18px;
    height: 18px;
    fill: #e85554;
    margin-right: 10px;
}

.info {
    font-size: 0.8em;
    color: #949494;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 4px;
    line-height: 40px;
}

.informationIcon {
    width: 18px;
    height: 18px;
    fill: silver;
    margin-right: 10px;
}

.faded {
    opacity: 0.5;
}

.success {
    font-size: 0.8em;
    color: #20881b;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e0ffdf;
    border-radius: 4px;
    line-height: 40px;
}

.successIcon {
    width: 18px;
    height: 18px;
    fill: green;
    margin-right: 10px;
}

.isApproved {
    border: 1px solid #6dca68;
}