.container {
	background: url('~resources/images/auth_bg.jpg');
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	display: flex;
    flex: 1;
	margin: 20px;
	max-width: 450px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	animation: slider 0.5s ease-in-out alternate;
}

@keyframes slider {
	0% {
		margin-left: -50px;
	}
	100% {
		margin: 0px;
	}
}

.topContainer {
    background-color: #2D3645;
	display: flex;
	justify-content: center;
}

.logoWrapper {
	display: flex;
}

.buttonsContainer {
    display: flex;
    flex: 1 1;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 4px;
}

.button {
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #2d3745;
	&_active {
		border-bottom: 4px solid #37b6ff;
	}
}

.children {
	margin: 10px 20px;
}