.container {
    margin: 20px 30px;
}

.scrollContainer {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}