.subHeader {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px solid #dedede;
    font-size: 0.8em;
    padding: 0 30px;
    position: sticky;
    top: 0;
}

.breadcrumbs {

}