@import "resources/styles/scss-variables.scss";
@import "resources/styles/css-variables.scss";
@import "resources/styles/font-face.scss";
@import "resources/styles/responsive-mixins.scss";

#root {
	display: flex;
	background-color: #f5f6f9;
}

body {
	margin: 0;
	font-family: Cairo, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}