.header {
    background-color: white;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 0 30px;
    position: sticky;
    top: 51px;
}

.company {
	display: flex;
}

.siteContainer {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin: 0 20px 0 0;
    text-transform: capitalize;
    padding-right: 20px;
	border-right: 1px dashed silver;
	&:last-child {
		border: none;
	}
}

.siteIcon {
    width: 24px;
    height: 32px;
}

.siteLabel {
	margin-left: 10px;
}

.siteName {
	font-family: CairoBold;
	margin: 0 7px;
}

.siteList {
	color: #00a2ff;
}

.avatar {
	display: flex;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #37b6ff;
    border-radius: 30px;
    margin: 10px;
    color: white;
}

.userInfoContainer {
	display: flex;
    align-items: center;
}

.userContainer {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    flex-direction: column;
    line-height: 15px;
    align-items: flex-end;
}

.arrowDown {
	width: 10px;
}

.userName {
	font-family: CairoBold;
}